*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(232, 232, 232);
}

#displayproducts{
    display: block;
}

#cartsection{
    display: none;
}


#cart{
    z-index: 1000;
    position: fixed;
    width: 130px;
    height: 50px;
    background-color: orange;
    right: 0;
    top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#cart img{
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: -1px 1px 5px rgb(0, 0, 0);
    border-radius: 5rem;
    left: 1em;
    transform: scale(1);
    object-fit: cover;
}

#cart img:hover{
    transform: scale(1.1);
    box-shadow: -1px 1px 10px rgb(0, 0, 0);
}

#cart h4{
    position: absolute;
    right: 3em;
    color: white;
}

.header{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgb(147, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    position: absolute;
    width: 100px;
    height: 70px;
    object-fit: contain;
    left: 0;
}

.menu{
    position: absolute;
    display: flex;
    top: 1.5em;
}

.menu ul{
     display: flex;
     right: 1em;
}

.menu ul li{
    margin: 3px;
    padding:  7px;
    background-color: transparent;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.menu ul li:hover{
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 3px black;
}

/* features */

.features {
    position: relative;
    top: 5em;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1rem;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* transition: all 1s; */
}


.slide:nth-child(1) {
    animation: slideShow 16s infinite;
}

.slide:nth-child(2) {
    animation: slideShow 16s infinite 4s;
}

.slide:nth-child(3) {
    animation: slideShow 16s infinite 8s;
}

.slide:nth-child(4) {
    animation: slideShow 16s infinite 12s;
}

@keyframes slideShow {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.features h3 {
    font-weight: bold;
    padding: 10px;
}

.features p {
    color: rgb(156, 230, 47);
}

.features img {
    width: 50px;
    border-radius: 1rem;
}
/* cart  */


.head{
    position: absolute;
    top: 10em;
    height: 70px;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.head button{
    position: absolute;
    left: 0;
    padding: 10px;
    border-radius: 5rem;
    border: none;
    background-color: aqua;
    margin-left: 20px;
}

.cart_items{
    top:15em;
    position: absolute;
    width: 100%;
    min-height: 500px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c7c7c7;
    padding-bottom:10em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.cart_items .cartItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.cart_items img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.cart_items .cartItems .i{
    /* height: 200px; */
    width: 150px;
    padding: 20px;
    background-color: white;
    margin: 5px;
}

.cart_items .cartItems .i button{
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    transform: scale(1);
}
.cart_items .cartItems .i button:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.2);
}

.cart_items .cartItems .i p{
    font-size: 0.99em;
}

.cart_items .cartItems .i p:nth-child(4){
    padding: 10px;
    color: green;
}

/* products */

.products{
    top:25em;
    position: absolute;
    width: 100%;
    height: 600px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products h2{
padding: 10px;

background-color: #c7c7c7;
   
}

.products .items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}


.products img{
    object-fit: cover;
    width: 100px;
    height: 100px;
     border-radius: 15px;
}

.products .items .buy img{
    width: 25px;
    height: 25px;
}

.products .items .i{
    /* height: 200px; */
    width: 150px;
    padding: 20px;
    background-color: white;
    margin: 5px;
}

.products .items .i p{
    font-size: 0.99em;
}

.products .items .i p:nth-child(4){
    padding: 10px;
    color: green;
}

.products .items .i #buy{
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
}

.products .items .i #buy:hover{   
    background-color: orange;
    box-shadow: 0 0 5px black;
}



/* footer  */

.end{
    position: absolute;
    top: 80em;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2d2d2d;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
}

.end div{
    margin: 10px;
    padding: 10px;
}

.end div ol li a{
    color: rgb(255, 255, 255, 0.5); 
    text-decoration: none;
}
.end div ol li{
      margin: 5px;
      padding: 3px;   
      transition: all 0.5s;
}

.end div ol li a:hover{
    color: white;
}

.end .social img{
     width: 30px;
     height: 30px;
     border-radius: 1rem;
     border: 1px solid black;
     margin: 3px;
     opacity: 50%;
     transform: scale(1);
     box-shadow: 0 0 2px white;
     transition: all 0.5s;
}

.end .social img:hover{
    opacity: 100%;
    transform: scale(1.2);   
    box-shadow: 0 0 5px white;
}
.end .last-im{
    border-radius: 1em;
    width: 100%;
    background-color: #333;
}
.end .last-im p{
    margin-top: 5px;
    font-size: 0.7em;
}

.end .last-im img{
    width: 100px;
}
@media (max-width:650px) {
    .menu{
        top: 6.5em;
    }
    .menu ul li{
       font-size: small;
       margin: 1.5px;
       padding: 5px;
       border-radius: 0;
       border-right: 1px solid white;
    }
    .menu ul li:last-child{
        border-right: none;
    }
    .header{
        height: 150px;
    }
    .header img{
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .end{
        top: 123em;
        justify-content: left;
    }
    .features{
        top: 10em;
    }
    .products{
        top:30em;
    }
}

